.card {
   background-color: var(--very-dark-blue-card);
   width: 20%;
   min-width: 320px;
   margin: 0 16px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 24px 24px 30px 24px;
   border-radius: 3%;
   box-shadow: 0px 3px 0px 20px rgba(12, 23, 41, 255), 0px 6px 0px 40px rgba(12, 23, 41, 0.5);
}

.card .header-card {
   width: 100%;
   position: relative;
}
.card .card-image {
   width: 100%;
   border-radius: 3%;
   min-width: 100%;
}

.header-card .view-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   border-radius: 3%;
   opacity: 0;
}

.article-card .card-title {
   color: var(--white);
   font-size: 1.125rem;
   cursor: pointer;
}

.article-card .card-text {
   color: var(--soft-blue-primary);
   line-height: 1.5rem;
}

.details {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
}

.details-price,
.details-time {
   display: flex;
}

.details-time {
   flex-direction: row-reverse;
}

.details-price img,
.details-time img {
   height: 30%;
   width: auto;
   align-self: center;
}

.details-price .price {
   margin-left: 0.5rem;
   color: var(--cyan-primary);
}

.details-time .time {
   color: var(--soft-blue-primary);
   margin-left: 0.5rem;
}

.card .line {
   width: 100%;
   height: 1px;
   border-bottom: 1px solid var(--very-dark-blue-line);
}

.card .card-footer {
   margin-top: 1rem;
   display: flex;
   align-items: center;
}

.card-footer .div-image {
   width: 15%;
}

.card-footer .image-author {
   width: 100%;
   border: 1px solid var(--white);
   border-radius: 50%;
}

.card-footer .author {
   margin-left: 1rem;
   color: var(--soft-blue-primary);
   cursor: pointer;
}

.author span {
   color: var(--white);
}

@media (hover: hover) {
   .article-card .card-title:hover {
      color: var(--cyan-primary);
   }

   .author span:hover {
      color: var(--cyan-primary);
   }

   .header-card .view-container:hover {
      opacity: 1;
      background-color: var(--cyan-primary-hover);
   }
}
