<div class='card'>
   <header class='header-card'>
      <img
         src='./static/img/image-equilibrium.jpg'
         class='card-image'
         title='Equilibrium #3429'
         alt='Equilibrium #3429'
      />
      <div class='view-container'>
         <img src='./static/img/icon-view.svg' class='view' alt='' />
      </div>
   </header>

   <article class='article-card'>
      <h3 class='card-title'>Equilibrium #3429</h3>
      <p class='card-text'>Our Equilibrium collection promotes balance and calm.</p>
      <div class='details'>
         <div class='details-price'>
            <img src='./static/img/icon-ethereum.svg' title='Etherium' alt='Etherium' />
            <p class='price'>0.041ETH</p>
         </div>
         <div class='details-time'>
            <p class='time'>3 days left</p>
            <img src='./static/img/icon-clock.svg' title='time-left' alt='Time left' />
         </div>
      </div>
   </article>

   <div class='line'></div>

   <footer class='card-footer'>
      <div class='div-image'>
         <img src='./static/img/image-avatar.png' class='image-author' title='Jules Wyvern' alt='Jules Wyvern' />
      </div>
      <h4 class='author'>Creation of <span>Jules Wyvern</span></h4>
   </footer>

</div>