<a href='https://github.com/Renato6GS/card-component' class='link-github'>
   <div>
      <img
         src='./static/img/icon-github.svg'
         class='icon-github'
         title='Linkt to repository'
         alt='Link to repository'
      />
   </div>
</a>